extends layout

block content
  .page-container
    .card
      h1 Welcome to the Home Page
      p This is the main page of the application. You can navigate to different sections using the navbar above.
