extends layout 

block content
  h1= title
  form(method="POST", action="/register")
    div
      label(for="username") Username:
      input(type="text", name="username", id="username", required)
    div
      label(for="password") Password:
      input(type="password", name="password", id="password", required)
    div 
      label(for="confirmPassword") Confirm Password:
      input(type="password", name="confirmPassword", id="confirmPassword", required)
    div
      button(type="submit") Register
    if error
      div.error= error
    if success
      div.success= success